<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../template/main.css" rel="stylesheet">
    <link href="../../materialize/css/materialize.min.css" rel="stylesheet">
    <link href="../../prism/prism.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div id="content">
        {{{content}}}
    </div>
    <script src="../../prism/prism.js"></script>
    <script src="../../materialize/js/materialize.min.js"></script>
    <script src="../../template/main.js"></script>
</body>

</html>