<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../template/main.css" rel="stylesheet">
    <link href="../materialize/css/materialize.min.css" rel="stylesheet">
    <link href="../prism/prism.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="row" id="nav">
        <div class="col s4">
            <p class="left"><a href=""></a></p>
        </div>
        <div class="col s4">
            <p class="center-align"><a href="./new_toc.html">Table of Contents</a></p>
        </div>
        <div class="col s4">
            <p class="right"><a href=""></a></p>
        </div>
    </div>
    <div id="content">
        <h2>{{title}}</h2>
        {{{main}}}
    </div>
    <script src="../prism/prism.js"></script>
    <script src="../materialize/js/materialize.min.js"></script>
    <script src="../template/main.js"></script>
</body>

</html>